<template>
    <img v-show="$vuetify.breakpoint.mdAndUp" class="footer-img" src="@/assets/footer.png" />
</template>

<script>
export default {
    
}
</script>

<style scoped>
.footer-img{
    display: flex;
    margin: 0 auto;
}
</style> 