<template>
<v-container>
<v-layout row wrap>
    <v-flex md4></v-flex>
    <v-flex  xs12 md4>
        <div class="principal-div">
            <p class="iniciar-sesion" v-show="$vuetify.breakpoint.mdAndUp">Inicia sesión en <span class="directv-main">MiDIRECTV</span></p>
            <p class="iniciar-sesion-text" v-show="$vuetify.breakpoint.mdAndUp">Maximiza tu experiencia DIRECTV con funcionalidades adicionales y servicios exclusivos diseñados para tu comodidad.</p>
            <p class="iniciar-sesion-text-2" v-show="$vuetify.breakpoint.mdAndUp">Si todavía no estás registrado y actualmente sos cliente, <span class="register-main">Regístrate ahora</span></p>
        </div>
    </v-flex>
    <v-flex md4></v-flex>
    <v-flex md4></v-flex>
    <v-flex xs12 md4>
        <v-card class="login-box">
            <div :class="{ 'title-directv-mobile' : $vuetify.breakpoint.smAndDown, 'title-directv' : $vuetify.breakpoint.mdAndUp}">Ingresa a MiDIRECTV</div>
            <v-form :class="{ 'login-form-mobile' : $vuetify.breakpoint.smAndDown, 'login-form' : $vuetify.breakpoint.mdAndUp}" ref="form" v-model="valid" lazy-validation>
                <v-text-field
                class="input-email"
                v-model="itemModel.email"
                label="E-mail"
                required
                outlined
                hide-details
                :rules="[rules.email]"
                ></v-text-field>

                <p class="link">¿Olvidaste tu e-mail?</p>

                <v-text-field
                v-model="itemModel.password"
                label="Contraseña"
                required
                outlined
                hide-details
                type="password"
                :rules="[rules.required]"
                ></v-text-field>

                <p class="link">¿Olvidaste tu contraseña?</p>

                <v-btn color="primary" class="submit-button" @click="Login">
                Ingresar
                </v-btn>
                <div class="no-user">¿No tienes usuario?  <p class="link register"> Registrate</p></div>
            </v-form>
        </v-card>
    </v-flex>
    <v-flex md4></v-flex>
</v-layout>


</v-container>
</template>

<script>

import { mapActions } from 'vuex'

export default {
    data: () => ({
        valid: true,
        itemModel:{
            email: '',
            password: ''
        },
        rules: {
            required : v => !!v || 'this value is necessary',
            email: value => {const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'invalid email format'
            }
        },
    }),
    mounted() {
    },
    methods: {
    ...mapActions(['submitLogin']),
        async Login(){
            let response = await this.submitLogin(this.itemModel);
            if(response){
                this.$swal({
                    icon: 'success',
                    title: `Access Success`,
                    text: `Welcome`,
                    showConfirmButton: true
                })
            }else {
                this.$swal({
                    icon: 'error',
                    title: `Access Denied`,
                    text: `Wrong username or password`,
                    showConfirmButton: true
                })
            }
        }
    },
};
</script>

<style scoped>
.login-box{
    margin: 0 auto;
}
.login-form{
    padding: 50px 100px 50px 100px;
}
.login-form-mobile{
    padding: 50px;
}
.submit-button{
    display: flex;
    margin: 0 auto;
    width: 192px;
    height: 50px !important;
}
.no-user{
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
    width: 200px;

    font-family: "Helvetica Neue Light";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.link{
    color:  #00AEEF;
    padding-bottom: 15px;
}
.principal-div{
    margin: 0 auto;
}
.directv-main{
    font-weight: bolder;
}
.register-main{
    color: #00AEEF;
    font-weight: bold;
}
.register{
    padding-left: 5px;
}
.title-directv{
    position: static;
    width: 290px;
    height: 36px;

    font-family: "DIRECTVCurve Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #1B1B1B;
    margin: 0px 100px;
    padding-top: 20px;
}
.title-directv-mobile{
    position: static;
    width: 290px;
    height: 36px;

    font-family: "DIRECTVCurve Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #1B1B1B;
    margin: 0px 50px;
    padding-top: 20px;
}
.iniciar-sesion{

    font-family: "DIRECTVCurve Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px !important;

    color: #222222;
}
.iniciar-sesion-text{

    font-family: "DIRECTVCurve Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px !important;

    color: #222222;
}
.iniciar-sesion-text-2{

    font-family: "DIRECTVCurve Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px !important;

    color: #222222;
}
</style>
