<template>
    <img v-if="$vuetify.breakpoint.mdAndUp" class="navbar-img" src="@/assets/header.png" />
    <img v-else class="navbar-img" src="@/assets/header_mobile.png" />
</template>

<script>
export default {
    
}
</script>

<style scoped>
.navbar-img{
    display: flex;
    margin: 0 auto;
}
</style>