<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

import Config from "./config.json";

export default {
  name: 'App',

  data: () => ({
    environment: Config.ENV,
    baseUrl: Config.BASE_URL
  }),
  beforeCreate() {
     if (!sessionStorage.getItem('jwt')) {
     this.$router.push('/Login')
    }
  }
};
</script>

<style>
@font-face {
    font-family: "DIRECTVCurve Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/DIRECTVCurve-Regular.eot");
    src: url("./fonts/DIRECTVCurve-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/DIRECTVCurve-Regular.woff") format("woff");
}
@font-face {
    font-family: "DIRECTVCurve Medium";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/DIRECTVCurve-Medium.eot");
    src: url("./fonts/DIRECTVCurve-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/DIRECTVCurve-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/HelveticaNeueLight.woff") format("woff");
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/HelveticaNeueMedium.woff") format("woff");
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/HelveticaNeueBold.woff") format("woff");
}
</style>
