<template>
    <v-container class="fluid">
        <NavBar />
        <LoginForm />
        <Footer />
    </v-container>
</template>

<script>

import NavBar from '@/components/NavBar'
import LoginForm from '@/components/LoginForm'
import Footer from '@/components/Footer'

export default {
    name: 'Login',
    components: {
        NavBar,
        LoginForm,
        Footer
    },
}
</script>

<style scoped>

</style> 